#!/usr/bin/env bash

source_up_if_exists
dotenv_if_exists

# # https://unix.stackexchange.com/questions/575481/how-can-i-find-the-ancestor-directory-with-a-given-name
pwd="$PWD" && export WS_DIR="${pwd%git"${pwd#*git}"}"
if [[ ! $WS_DIR =~ ws ]]; then
	echo "looking downwards for WS_DIR"
	WS_DIR="$(find . -maxdepth 1 -name "ws*" -exec realpath {} \; | sort | head -n 1)"
fi

# from https://github.com/direnv/direnv/blob/master/man/direnv-stdlib.1.md
layout node
# Only create a python venv is python is locally installed with asdf cmd direnv set _python _version_
if [[ -r .tool-versions ]] && grep "^python" .tool-versions; then
	echo "creating uv"
	layout uv
fi

# see App Whiskey README for Supabase Database
echo "Getting Database Variables"
[[ -v VITE_DB_HOST ]] || export "VITE_DB_HOST"="$(op item get "Supabase App-Whiskey" --fields "VITE_DB_HOST" --vault "DevOps" --reveal)"
[[ -v VITE_DB_NAME ]] || export "VITE_DB_NAME"="$(op item get "Supabase App-Whiskey" --fields "VITE_DB_NAME" --vault "DevOps" --reveal)"
[[ -v VITE_DB_USER ]] || export "VITE_DB_USER"="$(op item get "Supabase App-Whiskey" --fields "VITE_DB_USER" --vault "DevOps" --reveal)"
[[ -v VITE_DB_PASSWORD ]] || export "VITE_DB_PASSWORD"="$(op item get "Supabase App-Whiskey" --fields "password" --vault "DevOps" --reveal)"
[[ -v VITE_DB_PORT ]] || export "VITE_DB_PORT"="$(op item get "Supabase App-Whiskey" --fields "VITE_DB_PORT" --vault "DevOps" --reveal)"
[[ -v VITE_DB_SSL ]] || export "VITE_DB_SSL"="$(op item get "Supabase App-Whiskey" --fields "VITE_DB_SSL" --vault "DevOps" --reveal)"
[[ -v VITE_PORT ]] || export "VITE_PORT"="6573"

echo "Access to the Backend Variables"
# this is not allowed to frontend of dev
# [[ -v MODEL_API_URL ]] || export "MODEL_API_URL"="http://localhost:5174"
[[ -v MODEL_API_URL ]] || export "MODEL_API_URL"="http://localhost:8081/api/chat/completions"
# set top the Open API keyu
