#!/usr/bin/env bash
dotenv_if_exists

source_up_if_exists

echo "installing svelte ui"
[[ -v VITE_DB_PASSWORD ]] || export "VITE_DB_PASSWORD"="$(op item get "Supabase App-Whiskey" --fields "password" --vault "DevOps" --reveal)"
